<!DOCTYPE html>
<html>
<head>
    <title>DOM XSS Demo</title>
</head>
<body>
    <h1>DOM-Based XSS</h1>
    <p>Enter any text in the URL parameter <strong>?input=</strong></p>

    <div id="output"></div>

    <script>
        //purposful dom xss vulnerability
        const params = new URLSearchParams(window.location.search);
        const input = params.get("input");

        //creates dom-based xss
        if (input) {
            document.getElementById("output").innerHTML = input; 
        }
    </script>
</body>
</html>
