<form method="POST" action="/login">
  <input name="email" placeholder="email">
  <input name="password" placeholder="password" type="text">
  <button>Login</button>
</form>

<p>Reflected XSS test: <%= msg %></p>